@charset "utf-8";

:root {
    --footer_color: #464646;
    --text_color1: #333;
    --text_color2: #9E9E9E;
    --text_color3: #DCDCDC;
    --bar_color: #FBFBFB;
    --title_color: #B50000;
    --sub_color: #1C4381;
    --fontsize1: 13px;
    --fontsize2: 14px;
    --fontsize3: 16px;
    --fontsize4: 20px;
    --fontsize_basic: 24px;
    --fontsize6: 32px;
    --fontsize7: 55px;
    --fontsize8: 64px;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "NanumGothic";
    font-size: 24px;
    color: var(--text_color1);
    line-height: 20px;
}

a {
    color: var(--text_color1);
    text-decoration: none;
}

header {
    width: 100%;
    position: relative;
    height: 108px;
    background-color: #fff;
}

header > h1 {
    position: absolute;
    top: 20px;
    left: 40px;
}

header > .icon {
    position: absolute;
    top: 20px;
    right: 40px;
}

header > h1 > a > img {
    width: 159px;
    height: 54px;
    flex-shrink: 0;
}

.nav_wrap {
    margin: 0 auto;
    width: 1024px;
}

.act {
    background-color: rgba(0, 0, 0, 0.4) !important;
    position: fixed;
    width: 100%;
    left: 0px;
    top: 0px;
    z-index: 1000; /*포지션 사용시 콘텐츠가 항상 보이게 위로 배치*/
    transition: 1s;
}

.act a {
    color: #fff !important;
}

.act i {
    color: #fff;
}

.con1 > .top > h2, .con2 > h2, .con3 > .core_list > h2, .con4 > .top2 > h2, .con5 > .top3 > .sub_t > h2 {
    font-size: var(--fontsize6);
    color: var(--title_color);
    font-weight: bold;
    font-family: "Amaranth";
}

/*네비게이션을 가로로 정렬 */
.nav_wrap > ul {
    display: flex;
    list-style: none;
    padding: 20px 70px;
    margin: 0;
    z-index: 200;
}

.nav_wrap > ul > li {
    position: relative;
    padding: 0px 25px;
    line-height: 54px;
}

/* 아이콘 스타일 */
.icon > .fa-solid {
    font-size: 25px;
    padding: 15px 20px;
    right: 20px;
}

/* 기본 메뉴 스타일 */
.nav_wrap > ul > li > a {
    display: block;
    font-size: var(--fontsize3);
    font-weight: var(--header_tweight);
}

/* 서브메뉴 기본 스타일 */
.nav_wrap ul.sub {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 5px 0;
    list-style: none;
    width: max-content;
    z-index: 100;
}

/* 서브메뉴 내부 항목 스타일 */
.nav_wrap ul.sub li {
    padding: 8px 15px;
    color: var(--text_color1);
}

.nav_wrap ul.sub li > a {
    font-size: var(--fontsize2);
    color: var(--text_color1) !important;
    text-decoration: none;
}

/*마우스를 올리면 서브메뉴 표시 */
.nav_wrap ul > li:hover > ul.sub {
    display: block;
}

/*아이콘 위에서는 서브메뉴 안 나오게 */
.icon {
    pointer-events: none;
}

.nav_wrap .fa-solid:hover + ul {
    display: none !important;
}

#lg {
    padding: 5px;
    border: none;
    transform: translateY(-3px);
    background-color: transparent;
    pointer-events: auto;
}

/*메인슬라이드 서식*/
/* 슬라이드 컨테이너 설정 */
.m_slide {
    width: 100%;
    height: 87vh; /* 화면 높이를 꽉 채우도록 설정 */
    margin: 0;
    position: relative;
    overflow:hidden;
}

.swiper {
    position: relative; /* 자식 요소의 위치를 제어하기 위한 상대 위치 */
}

/* 슬라이드 요소 */
.swiper-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
}

/* 각 슬라이드 크기 설정 */
.swiper-slide {
    width: 100%; /* 슬라이드 가로 크기 100% */
    height: 100%; /* 슬라이드 세로 크기 100% */
    flex-shrink: 0; /* 슬라이드 크기 고정 */
    display: flex;
    align-items: center;
    position: relative; /* 자식 요소들이 이 안에서 상대적으로 위치할 수 있도록 설정 */
}

/* 이미지 및 비디오 크기 조정 */
.swiper-slide img {
    transition: transform 2s ease-in-out; /* 줌 효과 */
}

.swiper-slide.zoom img {
    transform: scale(1.1);  /* 이미지 확대 */
}

.swiper-slide > img,
.swiper-slide > video {
    width: 100%;
    height: 100%; /* 화면에 맞게 크기 조정 */
    object-fit: cover; /* 비율 유지하면서 꽉 차게 표시 */
    filter: brightness(60%);
}

/* 텍스트 스타일 (글씨가 이미지 위로 나오게 설정) */
.swiper-slide > h2,
.swiper-slide > p {
    position: absolute;
    color: #fff;
    z-index: 10; /* 텍스트가 이미지 위로 나오도록 */
    margin: 0;
    padding: 0 20px;
    max-width: 90%;
    line-height: 50px;
    margin-left: 200px;
    top: 250px;
}

.swiper-slide > h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 200px;
}

.swiper-slide > p {
    font-size: 1.2rem;
    top: 360px;
}

.m_slide .swiper-pagination span{
    display: inline-block;
    width: 80px;
    height: 5px;
    background-color: #fff;
    border-radius: 0 !important;
}

/*사이드 버튼 서식*/
.side_btn {
    width: 53.68px;
    height: 322.1px;
    z-index: 1000;
    position: fixed;
    right: 0px;
    top: 170px;
}

.side_btn > .server, .side_btn > .help, .side_btn > .cyber, .side_btn > .hire, .side_btn > .top_btn {
    width: 53.68px;
    height: 53.68px;
    border: 1px solid var(--text_color3);
    position: relative;
    background-color: #fff;
}

.side_btn > .fix {
    width: 53.68px;
    height: 53.68px;
    background-color: var(--title_color);
    position: relative;
    border: 1px solid var(--title_color);
}

.side_btn > .server > a > img, .side_btn > .help > a > img, .side_btn > .cyber > a > img, .side_btn > .hire > a > img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.side_btn > .fix > a > img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.side_btn > .top_btn > a {
    font-size: var(--fontsize1);
    top: 7px;
}

.side_btn > .top_btn > a > span {
    margin-left: 14px;
}

.top_btn > a > img {
    margin-left: 18px;
    margin-top: 6px;
    margin-bottom: -6px;
}

/*콘텐츠1 서식*/
.con1 {
    height: 574px;
    width: 1100px;
    margin: 0 auto;
    margin-top: 100px;
}

.con1 > .top {
    width: 1100px;
    height: 574px;
    margin-bottom: 35px;
}

.con1 > .top > h2 {
    padding: 35px 0px;
}

.extra {
    position: absolute;
    right: 380px;
    top: 940px;
}

.extra > img {
    color: var(--text_color1);
}

.extra > a {
    font-size: var(--fontsize3);
    color: var(--sub_color);
    margin-bottom: -5px;
    display: flex;
}

.n_list {
    display: flex;
    justify-content: center;
}

.n_list > .news {
    width: 356px;
    height: 500px;
    padding: 20px;
    position: relative;
}

.n_list > .news > a > img {
    width: 356px;
    height: 307px;
}

.n_list > div {
    position: absolute;
    right: 10px;
}

.n_list > .news > a > p {
    margin-top: 24px;
    font-size: var(--fontsize5);
    font-weight: bold;
    margin-top: 60px;
    height: 84px;
}

.n_list > .news > a > span {
    font-size: var(--fontsize3);
    position: absolute;
    top: 65%;
}

.n_list > .news > a > p, span {
    color: var(--text_color1);
    line-height: 24px;
    margin-bottom: 24px;
}

.e_text {
    font-size: var(--fontsize3);
}

hr {
    margin-top: 171px;
    margin-bottom: 164px;
}

/*콘텐츠2 서식*/
.con2 {
    height: 653px;
    width: 1356px;
    margin-bottom: 365px;
    margin: 0 auto;
}

.con2 > h2 > a {
    font-size: var(--fontsize3);
    color: var(--text_color2);
    font-weight: lighter;
}

.v_list {
    max-width: 100%;
    width: 800px; 
    overflow-x: auto;
    white-space: nowrap
}

.con2 > .v_list {
    width: 1300px;
    height: 479px;
    display: flex;
    overflow: auto;
    white-space: nowrap;
    cursor: pointer;
}

.con2 > .v_list > .video {
    min-width: 567px;
    height: 359px;
    border-radius: 10px;
    box-shadow: 0 5px 8px rgba(0,0,0,0.10), 0 5px 5px rgba(0,0,0,0.05);
    text-align: center;
    padding: 10px;
    margin: 35px;
    display: inline-block;
}

.vlist:active {
    cursor: pointer;
}

.con2 > .v_list > .video > img {
    align-content: center;
    width: 475px;
    height: 248px;
}

.v_list > .video > a > p {
    font-size: var(--fontsize2);
    color: var(--sub_color);
    margin-bottom: 15px;
    margin-top: 15px;
    text-align: left;
    margin-left: 10px;
}

.v_list > .video > a > span {
    width: 450px;
    font-size: var(--fontsize4);
    color: var(--text_color1);
    
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    
    max-height: 3.2em; /* 폰트 크기에 맞게 조정 */
    text-align: left;
    margin-left: 10px;
}

.v_list::-webkit-scrollbar:vertical {
    width: 800px;
}

.v_list::-webkit-scrollbar {
    height: 5px;
}

.v_list::-webkit-scrollbar-thumb {
    background-color: var(--title_color);
    border-radius: 10px;
}

.v_list::-webkit-scrollbar-track {
    background-color: var(--bar_color);
    margin: 0 100px;
}

/*콘텐츠3 서식*/
.con3 {
    height: 544px;
    padding: 85px;
    background-color: #f2f2f2;
}

.con3 > h2 {
    display: none;
}

.core_list {
    width: 1200px;
    height: 544px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
}

.value {
    width: 190px;
    height: 190px;
    text-align: center;
    padding: 50px;
}

.value:nth-child(5) {
    margin-left: 130px;
}

.value > img {
    width: 70px;
    height: 60px;
    margin-bottom: 35px;
}

.value > p {
    font-size: var(--fontsize_basic);
    color: var(--text_color1);
}

/*콘텐츠4 서식*/
.con4 {
    height: 817px;
    padding: 80px;
    margin: 0 auto;
}

.top2 {
    width: 900px;
    margin: 0 auto;
    margin-top: 150px;
    position: relative;
}

.top2 > h2 > span {
    font-size: var(--fontsize2);
    font-weight: normal;
}

.top2 > h2 > a {
    color: var(--text_color2);
    font-size: var(--fontsize2);
    font-weight: normal;
}

ul.cate li {
    cursor: pointer;
    transition: color 0.3s ease;
}

ul.cate li:hover {
    color: var(--sub_color); /* 마우스를 올렸을 때 */
}

ul.cate li.current {
    color: var(--sub_color); /* 클릭된 상태(선택된 탭) */
    font-weight: bold; /* 선택된 항목을 강조하고 싶다면 추가 */
}

.cate {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(2, 30px);
    grid-gap: 10px;
    position: absolute;
    left: 55%;
    top: 10%;
}

.cate_list {
    font-family: "Amaranth";
    font-weight: lighter;
    width: 96px;
    color: var(--text_color3);
    display: inline-block;
}

.text {
    display: flex;
    margin: 0 auto;
    position: relative;
    padding: 50px;
}

.text_sub {
    width: 814px;
    height: 482px;
    padding: 50px;
    margin: 0 auto;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 100;
}

.text_sub .text {
    opacity: 0;
    visibility: hidden; /* display: none; 대신 사용 */
    transition: opacity 1s ease-in-out;
    position: absolute;
}

.text_sub .text.current {
    opacity: 1;
    visibility: visible;
    position: relative;
}

.text_sub > .text > p {
    font-family: "Amaranth";
    font-size: var(--fontsize8);
    margin-bottom: 70px;
    position: absolute;
    top: 40%;
    left: 60%
}

.text_sub > .text > span {
    width: 238px;
    line-height: 30px;
    position: absolute;
    top: 55%;
    right: 10%;
}

.text_sub > .text > img {
    width: 400px;
    height: 400px;
    border-radius: 50%;
}

.popup {
    display: flex;
    pointer-events: none;
    position: relative;
    height: 520px;
    overflow: hidden;
    transition: 3s;
}

.on { display: block !important; }

.button {
    background-color: var(--title_color);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    top: 75%;
    left: 45%;
    z-index: 10000;
}

.button > .fa-solid {
    color: #fff;
    font-weight: bold;
    font-size: 26px;
}

.button > .fa-chevron-left {
    position: absolute;
    top: 27px;
    left: 20px;
}

.button > .fa-chevron-right {
    position: absolute;
    top: 27px;
    left: 45px;
}

/*콘텐츠5 서식*/
.con5 {
    background-color: #f2f2f2;
    height: 700px;
}

.top3 {
    width:1100px;
    margin: 0 auto;
    margin-bottom: 39px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
    "title title"
    "info more1"
    "info more"
    ;
    transform: translateY(70%);
}


.info, .more1, .more {
    position: relative;
}

.sub_t {
    grid-area:title;
}

.sub_t span{
    font-size:18px;
    font-weight: normal;
    line-height:50px;
}

.info{grid-area:info;}
.more1{grid-area:more1;}
.more{grid-area:more;}

.con5 > .top3 > .sub_t > p {
    font-size: var(--fontsize2);
    margin-left: 14px; 
}

.info {
    width: 498px;
    height: 152px;
    background-color: var(--bar_color);
    padding: 30px;
    margin-right: 18px;
    position: relative;
    justify-content: center;
}

.info > .type2 {
    font-size: var(--fontsize2);
    margin-bottom: 19px;
}

.info > .time {
    color: #3f3f3f;
    font-size: var(--fontsize1);
    position: absolute;
    transform: translate(360%, -200%);
}

.info > .price {
    margin-bottom: 26px;
}

.info > .price > b {
    font-weight: 500;
    font-size: var(--fontsize6);
}

.info > .compare1 {
    font-size: var(--fontsize1);
    margin-top: 40px;
    display: flex;
}

.info > a > .fa-chevron-right {
    color: var(--text_color1);
    font-size: 26px;
    float: right;
    transform: translate(-30%,-100%);
}

.more_total {
    position: relative;
}

.more, .more1  {
    width: 492px;
    height: 60px;
    background-color: var(--bar_color);
    font-size: var(--fontsize1);
    padding: 17px;
}

.more1 {
    margin-bottom: 14px;
}

.more > .name, .more1 > .name {
    font-weight: bold;
    margin-bottom: 20px;
}

.more1 > a > .fa-solid {
    float: right;
    padding: 10px;
    transform: translateY(-70%);
}

.more > a > .fa-solid {
    float: right;
    padding: 10px;
    transform: translateY(-70%);
}

/*푸터 서식*/
footer > * {
    font-size: var(--fontsize2);
}

footer {
    background-color: var(--footer_color);
    color: #fff;
    height: 232px;
    padding: 40px;
    position: relative;
}

footer > .motto {
    font-size: var(--fontsize6);
    font-weight: bold;
    font-family: "Amaranth";
    line-height: 40px;
    padding-bottom: 20px;
}

footer > ul {
    display: flex;
    justify-content: center;
    transform: translateY(-400%);
}

footer > .contact {
    position: absolute;
    top: 30%;
    left: 32.5%;
}

footer > .c_right {
    color: #d1d1d1;
}

footer > ul > li {
    margin-right: 12px;
}

footer > ul > li > a {
    color: #b4b4b4;
    display: block;
}

footer > ul > li > a:hover {
    color: #ffffff;
}

footer > #familysite {
    position: absolute;
    right: 40px;
    top: 60px;
    background-color: #2c2c2c;
    color: var(--text_color2);
    padding: 10px;
}

#familysite{
    font-family: "Amaranth";
}

footer > img {
    width: 100px;
    height: 80px;
    position: absolute;
    right: 40px;
    top: 130px;
}

.important > a {
    font-weight: bold;
    color: #ffffff;
}